fastapi
qdrant-client
sentence_transformers
uvicorn
pymongo 
python-dotenv 
pydantic
ddgs 
langchain_community 
langchain-ollama
langchain_groq
requests
aio-pika
aiosmtplib
motor
pymongo 